[auth]
username = "seu_usuario"
password = "sua_senha_forte"

[database]
DATABASE_URL = "postgresql+psycopg://postgres.sua-instancia:senha@aws-0-sa-east-1.pooler.supabase.com:6543/postgres?sslmode=require"
DB_SCHEMA = "public"
